@font-face {

    font-family: "Poiret";

    src: url('../font/PoiretOne-Regular.ttf') format('truetype');

}

html{

    overflow-x:hidden;

}

#mainHome{
    position: relative;
    min-height: 100vh;
    width: 100vw; 
padding-top: 40vh;
background-color: #87CEEB;
}

#Soleil{
position: absolute;
    height: 20rem;
    width: 20rem;
    top: 0%;
    left: 90%;
}

#Nuage{
 position: absolute;
    height: 40rem;
    width: 40rem;
    left: 30%;
    top: 0%;
    font-family: "Poiret";
}

.p2{

    background-color: #4BAC68;
    width: 100%;
    height: 100vh;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panneauNav{
    position: relative;
      z-index: 2;

  }

.panneauNav nav{

    position: absolute;
  top: 33%;
  left: 50%;
  width: 50%;
  height: 22%;
  transform: translate(-53%, -23%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFD36E00;
  
   
  
  }
  .panneauNav nav div{
  
    display: none;
  }
  
  .panneauNav nav ul{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15%;
  grid-row-gap: 15%;
  justify-items: center;
  height: 80%;
  
  list-style: none;
  
   
  }
  
  .panneauNav nav ul a {
    display: flex;
    flex-direction: column;
    width: 100%;
  height: 100%;
   justify-content: center;
    align-items: center;

     
    }

.panneauNav nav ul a  {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6B3600;
    border-radius: 5px;
    /* cursor: url(../img/curseur.png), default; */
}

.p2 h2{
    font-family: "Poiret";
    font-size: 3rem;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.p2 a{
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: center;
}
.p2 a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: 0.5s;
   cursor:-webkit-zoom-in;
}

