#mainAuteur {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
}

