html{

  /*   background-color: #0D1D45; */
}

#mainUnivers{
    padding-top: 40vh;
    background-color: #0D1D45;
}

h1{

    color: white;
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
}

h2{

    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

h3{

    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

p{

    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}
.partie2{

    /* padding-top: 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141D20;
    color: white;
    padding-bottom: 10rem;
    width: 100%;
    height: 150vh;
}

.partie2 ul{

    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    justify-items: center;
    list-style: none;
}

.partie2 ul > :last-child {
    grid-column: span 3;
    justify-self: center;
}

li button{

    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: white;
}

.partie2 h2{
color: white;
margin-top: 2rem;


}

.partie2 p{

    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.popupTextHistoire h3{

    font-size: 3rem;
    font-weight: 200;
    text-align: center;

}
.popupTextHistoire p{

    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.partie2 li button:hover{

    
    cursor :help;
}


.partie2 button:hover{
    transition: all 0.2s ease-in-out;
  
  cursor: help;
  }
  
  .partie2 button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s ease-in-out;
  }
  
  .partie2 button:hover::after {
    width: 100%;
  }

  .popupTextHistoire h3, p, button{

    color: #222222;
  }



  /* Star */

  /* star */
.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height:2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - 140px * 4);
    left: calc(50% - 89px * 4);
    -webkit-animation-delay: 1209ms;
            animation-delay: 1209ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 1209ms;
            animation-delay: 1209ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - -152px * 4);
    left: calc(50% - 114px * 4);
    -webkit-animation-delay: 1989ms;
            animation-delay: 1989ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 1989ms;
            animation-delay: 1989ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - 4px * 4);
    left: calc(50% - 169px * 4);
    -webkit-animation-delay: 8823ms;
            animation-delay: 8823ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 8823ms;
            animation-delay: 8823ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - 94px * 4);
    left: calc(50% - 65px * 4);
    -webkit-animation-delay: 4325ms;
            animation-delay: 4325ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 4325ms;
            animation-delay: 4325ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -73px * 4);
    left: calc(50% - 228px * 4);
    -webkit-animation-delay: 386ms;
            animation-delay: 386ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 386ms;
            animation-delay: 386ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - -8px * 4);
    left: calc(50% - 22px * 4);
    -webkit-animation-delay: 2605ms;
            animation-delay: 2605ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 2605ms;
            animation-delay: 2605ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - -113px * 4);
    left: calc(50% - 204px * 4);
    -webkit-animation-delay: 405ms;
            animation-delay: 405ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 405ms;
            animation-delay: 405ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - -129px * 4);
    left: calc(50% - 35px * 4);
    -webkit-animation-delay: 6891ms;
            animation-delay: 6891ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 6891ms;
            animation-delay: 6891ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - -24px * 4);
    left: calc(50% - 96px * 4);
    -webkit-animation-delay: 7639ms;
            animation-delay: 7639ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 7639ms;
            animation-delay: 7639ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - -133px * 4);
    left: calc(50% - 107px * 4);
    -webkit-animation-delay: 9912ms;
            animation-delay: 9912ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 9912ms;
            animation-delay: 9912ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - 98px * 4);
    left: calc(50% - 66px * 4);
    -webkit-animation-delay: 8582ms;
            animation-delay: 8582ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 8582ms;
            animation-delay: 8582ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - -98px * 4);
    left: calc(50% - 254px * 4);
    -webkit-animation-delay: 4083ms;
            animation-delay: 4083ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 4083ms;
            animation-delay: 4083ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - 135px * 4);
    left: calc(50% - 252px * 4);
    -webkit-animation-delay: 6067ms;
            animation-delay: 6067ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 6067ms;
            animation-delay: 6067ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - 141px * 4);
    left: calc(50% - 278px * 4);
    -webkit-animation-delay: 6771ms;
            animation-delay: 6771ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 6771ms;
            animation-delay: 6771ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - -15px * 4);
    left: calc(50% - 104px * 4);
    -webkit-animation-delay: 4517ms;
            animation-delay: 4517ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 4517ms;
            animation-delay: 4517ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - -136px * 4);
    left: calc(50% - 94px * 4);
    -webkit-animation-delay: 5323ms;
            animation-delay: 5323ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 5323ms;
            animation-delay: 5323ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - 135px * 4);
    left: calc(50% - 9px * 4);
    -webkit-animation-delay: 1048ms;
            animation-delay: 1048ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 1048ms;
            animation-delay: 1048ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - -28px * 4);
    left: calc(50% - 117px * 4);
    -webkit-animation-delay: 1764ms;
            animation-delay: 1764ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 1764ms;
            animation-delay: 1764ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - 45px * 4);
    left: calc(50% - 289px * 4);
    -webkit-animation-delay: 8670ms;
            animation-delay: 8670ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 8670ms;
            animation-delay: 8670ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - -131px * 4);
    left: calc(50% - 203px * 4);
    -webkit-animation-delay: 5783ms;
            animation-delay: 5783ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 5783ms;
            animation-delay: 5783ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }