html{

  /*   background-color: #0D1D45; */
}

#mainUnivers{
    padding-top: 40vh;
    background-color: #0D1D45;
}

h1{

    color: white;
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
}

h2{

    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

h3{

    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

p{

    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}
.partie2{

    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141D20;
    color: white;
    padding-bottom: 10rem;
    width: 100%;
}

.partie2 ul{

    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    justify-items: center;
    list-style: none;
}

.partie2 ul > :last-child {
    grid-column: span 3;
    justify-self: center;
}

li button{

    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: white;
}

